<div class="center jumbotron">
  <h1>Welcome to Arrowad Twitter </h1>

  <h2>
    	You can Tweet about anything in the company OR
    <a href='#'>see what other employee</a>
    tweet about.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("AGLT.png", alt: "Arrowad logo"),
            'http://arrowad.sa//' %>