<footer class="footer">
  <small>
    The <a href="http://arrowad.sa//">Copyright © 2014, Arrowad Group</a>
    by <a href="#">IT Department</a>
  </small>
  <nav>
    <ul>
        <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="#">News</a></li>
    </ul>
  </nav>
</footer>